@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?iad5bh');
  src:  url('fonts/icomoon.eot?iad5bh#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?iad5bh') format('truetype'),
    url('fonts/icomoon.woff?iad5bh') format('woff'),
    url('fonts/icomoon.svg?iad5bh#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-airplane:before {
  content: "\e900";
}
.icon-travel:before {
  content: "\e900";
}
.icon-flight:before {
  content: "\e900";
}
.icon-plane:before {
  content: "\e900";
}
.icon-transport:before {
  content: "\e900";
}
.icon-fly:before {
  content: "\e900";
}
.icon-vacation:before {
  content: "\e900";
}
.icon-dribbble:before {
  content: "\e901";
  color: #ea4c89;
}
.icon-linkedin:before {
  content: "\e902";
  color: #0077b5;
}
.icon-twitter:before {
  content: "\e903";
  color: #1da1f2;
}
.icon-googleplus:before {
  content: "\e904";
  color: #dc4e41;
}
.icon-facebook:before {
  content: "\e905";
  color: #4172b8;
}
.icon-instagram:before {
  content: "\e906";
  color: #e4405f;
}

  body{
    background: #d8dade57;
  }

  body, nav{
    font-family: 'Roboto Slab', serif;
  }

  

  .icon-travel {
      color: white;
      margin-right: 10px;
  }

  .navbar {
      background:#3e4551;
      
  }

  .navbar a {
      color: white;
  }

  .image-slide {
      width: 100%;
      height: 600px;
  }

 

.carousel-item img {
    max-height: 70vh;
    object-fit: cover;
    filter: grayscale(50%)
}

.img-preci{
  height: 214px;
}

#footer {
  background:#3e4551;
  height: auto;
  color: white;
}
#footer a {
  color: white;
}

.btn-dark {
  color: green;
}

.promotion {
  margin-top: 10px;
  margin-bottom: 47px;
  padding-top: 20px;
  color: #6ef90580;
}

.Us {
  margin-top: 15px;
  margin-bottom: 20px;
  display: flex;
}

.image-us img {
  width: 100%;
}

.description-us {
  text-align: center;
  align-items: center;
  justify-content: center;
  margin-top: 75px;
  margin-left: 30px;
  font-size: 20px;
}

.card {
  margin: auto;
}


.list-unstyled li a i {
font-size: 30px;
color: white;
/* display: flex; */
}

.register {
display: grid;
}

.text-register {
  margin-bottom: 27px;
}

.text-social {
  margin-bottom: 20px;
}

